/*Basic HTML tags and others*/
/*********************************************/

body {
    margin: 0;
    background-size: 100%;
    padding-top: 40px;
    margin-top: -40px;
    font-family: 'Raleway', sans-serif;
    background: no-repeat fixed url(/Pictures/background.jpeg);
    background-size: cover;
    background-position: 75% 40%;
}

h1, h2, h3, h4, h5, h6, p, a, html {
    margin: 0;
    padding: 0;
}

h1 { /*used for title*/
    position: block;
    text-align: center;
    width: 100%;
    background-color: lightgray;
    font-size: 4em;
    font-weight: normal;
}

h2 { /*used for headings of intro, projects and experience*/
    font-size: 3em;
}

h3 { /*used for small headings and descriptions*/
    font-size: 1.7em;
}

p {
    text-align: center;
    display: block;
    width: 100%;
}

p span {
    font: bold 16px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb (0,0,0);
    /*padding: 0px 300px 0px 300px;*/
    padding: 0 5% 0 5%;
    display: block;
    height: 100%;
} /**/

html {
    position: relative;
    width: 100%;
    min-height: 100%;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: auto/9; /* edge case for ie8*/
}



/*Common classes*/
/*********************************************/
.heading { /*for headings of content*/
    text-align: center;
    position: relative;
    color: gold;
    text-shadow: 5px 5px #301c41;
    margin-bottom: 30px;
}

/*Banner css*/
/*********************************************/
.banner-container{
    height: 100vh;
}

.banner-inner {
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: .9;
    top: 50%;
    left: 50%;
    padding-top: 300px;
}

.banner-box {
    display: block;
    text-align: center;
    position: block;
    max-width: 100%;
    height: auto;
    background-color: lightgrey;
    width: 50%;
    height: 50%;
}

.banner-box > h2 {
    font-size: 2.2em;
}


/*Navagation bar css*/
/*********************************************/

#navbar {
    width: 100%;
    height: 40px;
    position: block;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 11px 0px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5; /* used to be infront of display: abosulte*/
}

#navbar li {
    display: inline;
    float:left;
}

#navbar a {
    color: black;
    text-align: center;
    padding: 11px 25px;
    text-decoration: none;
    font-weight: bold;
}

#navbar a:hover {
    background-color: yellow;
}


/*Introduction css*/
/*********************************************/
.introduction-container {
    background: #C26868;
    opacity: .9;
}

.introduction-container > .heading {
    padding-top: 20px;
}

.about {
    padding-bottom: 3%;
    font-size: 1.5em;
    font-weight: bold;
}

/*Projects css*/
/*********************************************/
.project-container {
    background-color: #d3d3d3;
    padding-top: 20px;
}

.image-container{
    list-style-type: none;
    margin 0;
    padding 0;    
}

.image {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    width: auto/9; /* edge case for ie8*/
    position: relative;
}

.image > img {
    width: 100%;
}



.image-container .image:hover .overlay {
    opacity: 1;
}

.overlay {
    background: rgba(0,0,0,0.6);
    color: white;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    justify-content: center;  
    text-align: center;
}

.overlay > h3 {
    padding: 5%;
}

.overlay > h4 {
    padding: 5%;
    font-size: 1.5em;
    bottom: 0;
}

.project-description {
    font-size: 3em;
    text-align: center;
    padding-bottom: 1em;
}

.project-description > a {
    text-decoration: none;
    color: white;
}

.project-1, .project-2 {

}


/*modal css*/

body.modal-open {
    overflow: hidden; /*Used to disable body scroll when modal is active*/
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 8; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 1000px; /* Full height */
    max-height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    /*-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.6s;*/
    animation: animatetop .8s 1;
    bottom: 50px;
    margin-top: 100px;
}

.modal-header {
    padding: 16px;
    background-color: blue;
    color: white;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
    text-align: center;
    padding-bottom: 2em;
}

.mobile-image > img {
    height: 430px;
    width: 320px;
    display: inline-block;
    margin-bottom: .5em;
    border: 1px solid grey;
}

.modal-body > img {
    width: 100%;
    border: 1px solid black;
    margin-bottom: .5em;
}

.modal-body-left {
    float: left;
    width: 35%;
}

.modal-body-left > p { /*to bold left text*/ 
    font-weight: 700;
}

.modal-body-left > p, .modal-body-right > p { /*for description in modals*/
    text-align: left;
    padding: .6em 0;
    color: darkcyan;
    line-height: 150%;
}

.modal-body-left > h3, .modal-body-right > h3 { /*for titles in modals*/
    text-align: left;
    font-weight: 500;
}

.modal-body-right > h4 { /*for subtitles in modal*/
    text-align: left;
}

.modal-description {
    overflow: hidden;
    padding-bottom: 1em;
}

.modal-body-right {
    float: right;
    width: 65%;
    right: 0;
}

.modal-footer {
    padding: 16px;
    background-color: blue;
    color: white;
    text-align: center;
}

.modal-footer > a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    0% {
        transform: translateY(-150px);
        opacity: .2;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes animatetop {
    0% {
        transform: translateY(-150px);
        opacity: .2;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 2.5em;
    font-weight: bold;
    padding: 0 .4em
}

.close:hover,
.close:focus {
    color: white;
    background-color: red;
    text-decoration: none;
    cursor: pointer;
}


/*Experience css*/
/*********************************************/
.experience-container {
    background: #e9e9e9;
    /*background: linear-gradient(to left, #f6f1d3, #648880 85%, #293f50);
    /*margin-top: 50px;*/
    padding-top: 20px;
}

.experience-1-container, .experience-2-container {
    -moz-align-items: top;
    -webkit-align-items: top;
    -ms-align-items: top;
    align-items: top;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 40px 5%;
}

.experience-img {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    position: relative;   
    float: left;
    width: 600px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}

.experience-1-description, .experience-2-description {
    float: top;
    width: 90%;
    position: relative;
    text-align: left;
    margin-left: 5%;
    vertical-align: top;
}

.valign {
    display: inline-block;
    vertical-align: middle;
    height: 100%;   
}

.title-location {
    max-height: 6em;
}

.experience-title {
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
    font-weight: 900;
}

.experience-location{
    font-size: 1.3em;
    vertical-align: middle;
    height: 150px;
}

.experience-position {
    display: inline-block;
    font-weight: 700;
    font-size: 1.2em;
}

.experience-date {
    font-style: italic;
    font-weight: 300;
}

.experience-description {
}

.experience-description > p {
    text-align: left;
    padding: .7em 0;
}

/*Footer css*/
/*********************************************/
#main {
    position: relative;
    margin: 0 0 300px 0;
    z-index: 1;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: -4;
    background: grey;
    opacity: .9
}