/*Basic HTML tags and others*/
/*********************************************/

body {
    margin: 0;
    background-size: 100%;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background: no-repeat fixed url(/Pictures/background.jpeg);
    background-size: cover;
    background-position: 52% 40%;
}

h1, h2, h3, h4, h5, h6, p, a, html {
    margin: 0;
    padding: 0;
}

h1 { /*used for title*/
    position: block;
    text-align: center;
    width: 100%;
    background-color: lightgray;
    font-size: 4em;
    font-weight: normal;
}

h2 { /*used for headings of intro, projects and experience*/
    font-size: 3em;
}

h3 { /*used for small headings and descriptions*/
    font-size: 1.7em;
}

p {
    text-align: center;
    display: block;
    width: 100%;
}

p span {
    letter-spacing: -1px;
    background: rgb (0,0,0);
    /*padding: 0px 300px 0px 300px;*/
    padding: 0 5% 0 5%;
    display: block;
    height: 100%;
}

html {
    position: relative;
    width: 100%;
    min-height: 100%;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: auto/9; /* edge case for ie8*/
}

/*Common classes*/
/*********************************************/
.heading { /*for headings of content*/
    text-align: center;
    position: relative;
    color: gold;
    text-shadow: 5px 5px #301c41;
    padding: 45px 0;
}

/*Banner css*/
/*********************************************/
.banner-container{
    height: 100vh;
}

.banner-inner {
    display: flex;
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    padding-top: 300px;
}

.banner-box {
    display: block;
    text-align: center;
    position: block;
    max-width: 100%;
    height: auto;
    width: 50%;
    height: 50%;
    background: lightgrey;
    opacity: .9;
    animation: fadein 2.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .9; }
}

.banner-box > h2 {
    font-size: 2.2em;
}


/*Navagation bar css*/
/*********************************************/
#navbar {
    width: 100%;
    height: 40px;
    position: static;
    top: 0;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 11px 0px;
    overflow: auto;
    position: fixed;
    width: 100%;
    background: rgba(42, 42, 42, .8);
    z-index: 9; /* used to be infront of display: abosulte*/
}

#navbar li {
    display: inline;
    float:left;
}

#navbar a {
    text-align: center;
    padding: 11px 25px;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    transition: text-shadow .4s;
}

#navbar a:hover  {
    text-shadow: 0 0 2px #FFF, 0 0 2px #FFF;
}

/*Introduction css*/
/*********************************************/
.introduction-container {
    background: #C26868;
    opacity: .9;
}


.introduction-container > .heading {
    padding: 40px 0;
}

.about {
    padding-bottom: 4%;
    font-size: 1.5em;
    font-weight: bold;
    width: 83%;
    margin: 0 auto;
}

/*Projects css*/
/*********************************************/
.project-container {
    background-color: #d3d3d3;    
}

.image-container{
    list-style-type: none;
    margin 0;
    padding 0;    
}

.image {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    width: auto/9; /* edge case for ie8*/
    position: relative;
}

.image > img {
    width: 100%;
}

.image-container .image:hover .overlay {
    opacity: 1;
}

.overlay {
    background: rgba(0,0,0,0.6);
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    justify-content: center;  
    text-align: center;
}

.image > .overlay ~ .overlay {
    cursor: pointer;
}

.overlay > h3 {
    padding: 5%;
}

.overlay > h4 {
    font-size: 1.5em;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
}

.project-description {
    font-size: 3em;
    text-align: center;
    padding-top: 10px;
}

.project-description a {
    text-decoration: none;
    color: white;
    transition: all .5s ease;
    background: linear-gradient(to right, white 50%, black 50%);
    background-position: right top;
    background-size: 201% 100%;
    padding: 2px;
}

.project-description a:hover {
    color: black;
    background-position: left bottom;
}

.project-1, .project-2, .project-3 {
    padding-bottom: 3em;
}

.project-2 .overlay:hover, .project-3 .overlay:hover {
    cursor: pointer;
}

/*modal css*/
/*********************************************/

.modal-open {
    overflow: hidden; /*Used to disable body scroll when modal is active*/
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    max-height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation: animatetop .7s 1;
    bottom: 50px;
    margin-top: 100px;
}

.modal-header {
    padding: 16px;
    background-color: blue;
    color: white;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
    text-align: center;
    padding-bottom: 2em;
}

.mobile-image > img {
    height: 430px;
    width: 320px;
    display: inline-block;
    margin-bottom: .5em;
    border: 1px solid #d3d3d3;
}

.modal-body > img {
    width: 100%;
    border: 1px solid #d3d3d3;
    margin-bottom: .5em;
}

.modal-body-left {
    float: left;
    width: 33%;
}

.modal-body-left > p { /*to bold left text*/ 
    font-weight: 700;
}

.modal-body-left > p, .modal-body-right > p { /*for description in modals*/
    text-align: left;
    padding: .6em 0;
    color: darkcyan;
    line-height: 150%;
}

.modal-body-left > h3, .modal-body-right > h3 { /*for titles in modals*/
    text-align: left;
    font-weight: 600;
}

.modal-body-right > h4 { /*for subtitles in modal*/
    text-align: left;
    font-size: 1.3em;
}

.modal-description {
    overflow: hidden;
    padding-bottom: 1em;
}

.modal-body-right {
    float: right;
    width: 65%;
    right: 0;
}

.modal-footer {
    padding: 16px;
    background-color: blue;
    color: white;
    text-align: center;
}

.modal-footer > a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    transition: all 1s ease; 
}

.modal-footer > a:hover {
    color: black;
    background: red;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    0% {
        transform: translateY(-150px);
        opacity: .2;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes animatetop {
    0% {
        transform: translateY(-150px);
        opacity: .2;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.close {
    color: white;
    float: right;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    background: lightblue;
    height: 42px;
    width: 42px;
    transition: all .5s ease;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    background: red;
    text-decoration: none;
}


/*Experience css*/
/*********************************************/
.experience-container {
    background: #e9e9e9;
    /*background: linear-gradient(to left, #f6f1d3, #648880 85%, #293f50);
    /*margin-top: 50px;*/
}

.experience-1-container, .experience-2-container {
    -moz-align-items: top;
    -webkit-align-items: top;
    -ms-align-items: top;
    align-items: top;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 0px 5% 40px 5%;
}

.experience-img {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    position: relative;   
    float: left;
    width: 600px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}

.experience-1-description, .experience-2-description {
    float: top;
    width: 90%;
    position: relative;
    text-align: left;
    margin-left: 5%;
    vertical-align: top;
}

.valign {
    display: inline-block;
    vertical-align: middle;
    height: 100%;   
}

.title-location {
    max-height: 6em;
}

.experience-title {
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
    font-weight: 900;
}

.experience-location{
    font-size: 1.3em;
    vertical-align: middle;
    height: 150px;
}

.experience-position {
    display: inline-block;
    font-weight: 700;
    font-size: 1.2em;
}

.experience-date {
    font-style: italic;
    font-weight: 300;
}

.experience-description {
}

.experience-description > p {
    text-align: left;
    padding: .7em 0;
}

/*Contact css*/
/*********************************************/
.contact-container {
    bottom: 0;
    left: 0;
    width: 100%;
    background: grey;
    opacity: .9;
    padding-bottom: 40px;
}

.contact-image {
    text-align: center;
}

.contact-image img {    
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    transition: filter 1s ;
    transition: transform .7s ease;
}

.contact-image img:hover {
    filter: brightness(0) invert(1);
    transform: rotate(360deg);
}

/*Footer css*/
/*********************************************/
.footer {
    background-color: black;
    color: white;
    font-size: 1.7em;
}
